body{
    background-color: #FFFF99;
    text-align: center;    
}

header{
    text-align:center;
}

.askinfo{
    margin-top: 0;
    width: 70%;   
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    margin-left:200px;
    
}
